* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.3em;
  color: #000000;
  letter-spacing: 1px; }
  body h1 {
    /*padding: 15vh 0 5vh 0;*/
    /*margin:auto;*/
    font-weight: 900;
    font-family: 'MS Sans Serif', sans-serif; }
  body h2 {
    font-family: 'MS Sans Serif', sans-serif; }
  body h3 {
    font-family: 'MS Sans Serif', sans-serif; }
  body a {
    text-decoration: none; }
    body a:link {
      color: #dd3e18; }
    body a:visited {
      color: #942c18; }
    body a:hover {
      text-shadow: 0 0 2px rgba(148, 6, 212, 0.5); }

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto; }
  #container h1:not(.exception) {
    padding: 15vh 0 5vh 0;
    width: 90vw;
    margin: auto; }
  #container header {
    display: flex;
    color: #ffffff;
    background: #dd3e18;
    height: 90vh; }
    #container header #photo {
      min-width: 35vw;
      background-image: url("../resources/photo2.jpg");
      background-size: cover;
      background-origin: content-box;
      background-position: -312px;
      background-attachment: local; }
    #container header #info {
      padding: 4% 7% 0 10%;
      flex-direction: column;
      line-height: 2.3em;
      display: flex; }
      #container header #info section {
        width: 45vw;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        padding-top: 15vw;
        line-height: 1.3em; }
  #container #expectations {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    #container #expectations .controlsDiv, #container #expectations .radioDiv {
      display: none; }
    #container #expectations .wide {
      width: 55%; }
    #container #expectations .slim {
      width: 35%; }
    #container #expectations div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #e7f0ee;
      border-radius: 0.8vh;
      margin: 0 30px 30px 10px;
      transition: all 0.2s ease-in-out; }
      #container #expectations div h2 {
        padding: 20px; }
      #container #expectations div p {
        padding: 20px;
        font-size: 0.8em;
        word-wrap: break-word; }
      #container #expectations div:hover {
        transform: scale(1.05); }
  #container #examples {
    width: 90vw;
    margin: 0 auto; }
    #container #examples .example {
      height: 43vh;
      max-height: 60vh;
      padding-bottom: 20vh;
      display: flex;
      justify-content: space-between; }
      #container #examples .example .example_info {
        width: 30vw;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        position: relative; }
        #container #examples .example .example_info p {
          position: absolute;
          bottom: 0;
          vertical-align: bottom;
          font-size: 0.9em; }
    #container #examples .reverse {
      flex-direction: row-reverse; }
      #container #examples .reverse .example_info {
        margin-left: 0;
        margin-right: 5vw; }
      #container #examples .reverse .wrapper .controls {
        width: 10px;
        left: -40px; }
  #container footer {
    background: #e6f0ef; }
    #container footer h1 {
      padding-top: 10vh; }
    #container footer #contacts {
      display: flex;
      width: 90vw;
      margin: 0 auto;
      margin-bottom: 15vh; }
      #container footer #contacts #about {
        font-size: 0.8em;
        padding-right: 20px;
        width: 40%; }
        #container footer #contacts #about p {
          margin-bottom: 2vh; }
        #container footer #contacts #about #intro {
          margin-bottom: 5vh; }
        #container footer #contacts #about ul {
          width: 25%; }
        #container footer #contacts #about li {
          list-style-type: none;
          line-height: 1.3em; }
          #container footer #contacts #about li a {
            display: inline-flex; }
          #container footer #contacts #about li img {
            padding-right: 5px; }
      #container footer #contacts #communication {
        width: 70%; }
  #container .fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 230px; }
  #container #fileform .selectbutton {
    background-image: url("../resources/new_file.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    float: left;
    height: 22px;
    opacity: 0.7;
    overflow: hidden;
    padding: 2px 6px 2px 0;
    text-align: center;
    vertical-align: middle;
    width: 20px; }
    #container #fileform .selectbutton:hover {
      opacity: 1; }
  #container #chosen {
    color: #dd3e18;
    font-family: 'MS Sans Serif', sans-serif;
    font-weight: 900; }
  #container #fileform #upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    padding: 0;
    font-size: 150px;
    height: 30px;
    z-index: 1; }

/*# sourceMappingURL=style1024.css.map */
