*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.3em;
  color: #000000;
  letter-spacing: 1px;
  h1{
    /*padding: 15vh 0 5vh 0;*/
    /*margin:auto;*/
    font-weight: 900;
    font-family: 'MS Sans Serif', sans-serif;
  }
  h2{
    font-family: 'MS Sans Serif', sans-serif;
  }
  h3{
    font-family: 'MS Sans Serif', sans-serif;
  }
  a{
    text-decoration: none;
    &:link{  color: #dd3e18;  }
    &:visited{  color: #942c18;  }
    &:hover{ text-shadow: 0 0 2px rgba(148, 6, 212, 0.5);}
  }
}
#container {
  h1:not(.exception){
    padding: 15vh 0 5vh 0;
    width: 90vw;
    margin: auto;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  header {
    display: flex;
    color: #ffffff;
    background: #dd3e18;//#082740
    height: 90vh;
    #photo{
      min-width: 35vw;
      background-image: url("../resources/photo2.jpg");
      background-size: cover;
      background-origin: content-box;
      background-position: -312px;
      background-attachment: local;
    }
    #info{
      padding: 4% 7% 0 10%;
      flex-direction: column;
      line-height: 2.3em;
      display: flex;
      section{
        width: 45vw;
        font-family: 'Times New Roman', sans-serif;
        font-weight: 100;
        padding-top: 15vw;
        line-height: 1.3em;
      }
    }
  }

  #expectations{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .wide{  width: 60%;  }
    .slim{  width: 35%;  }
    div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #e7f0ee;
      border-radius: 0.8vh;
      margin: 10px;
      transition: all 0.2s ease-in-out;
      h2{  padding: 20px;  }
      p{
        padding: 20px;
        font-size: 0.8em;
        word-wrap: break-word;
      }
      &:hover{  transform: scale(1.05);  }
    }
  }

  #examples{
    width: 90vw;
    margin: 0 auto;
    .example{
      height: 43vh;
      max-height: 50vh;
      padding-bottom: 20vh;
      display: flex;
      justify-content: space-between;
      .example_info{
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        font-size: 0.9em;
        position: relative;
        p{
          position: absolute;
          bottom: 0;
          vertical-align: bottom;
          font-size: 0.9em;
        }
      }
    }
    .reverse{
      flex-direction: row-reverse;
      .example_info{
        margin-left: 0;
        margin-right: 5vw;
      }
      .wrapper .controls {
        width: 10px;
        left: -40px;
      }
    }
  }

  footer {
    background: #e6f0ef;
    h1{  padding-top: 10vh;  }
    #contacts{
      display: flex;
      width: 90vw;
      margin: 0 auto;
      margin-bottom: 15vh;
      #about {
        font-size: 0.8em;
        padding-right: 20px;
        width: 40%;
        p{  margin-bottom: 2vh;  }
        #intro{  margin-bottom: 5vh;  }
        ul{width: 25%;}
        li {
          list-style-type: none;
          line-height: 1.3em;
          a {
            display: inline-flex;
          }
          img {  padding-right: 5px;  }
        }
      }
      #communication{  width: 70%;  }
    }
  }


  .fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 230px;
  }

  #fileform .selectbutton {
    background-image: url("../resources/new_file.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    float: left;
    height: 22px;
    opacity: 0.7;
    overflow: hidden;
    padding: 2px 6px 2px 0;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    &:hover{  opacity: 1;  }
  }

  #chosen{
    color:#dd3e18;
    font-family: 'MS Sans Serif', sans-serif;
    font-weight: 900;
  }

  #fileform #upload{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    padding: 0;
    font-size: 150px;
    height: 30px;
    z-index:1;
  }
}
